/* Media Query For small devices */
@media only screen and (max-width:576px) {

    .nav {
        display: grid;
        gap: 20px;

    }

    .nav-text {
        flex-direction: column;
    }

    .hero {
        flex-direction: column-reverse;
        background: none;
        gap: 20px;
    }

    .hero-left {
        width: 80%;
        margin: 0 auto;
        padding-left: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .hero-left h1 {
        font-size: 5rem;
        font-weight: 700;
        padding: 10px 0;

    }

    .hero-right img {
        width: 80%;
        margin: 0 auto;

    }

    .hero-right {
        display: flex;

    }

    .hero-left button {
        margin-bottom: 20px;
    }

    .hero-bottom {
        flex-direction: column;
        text-align: center;
    }

    .h-bottom-img img {
        width: 90%;
    }

    .h-bottom-text {
        text-align: center;
        width: 90%;
        padding-right: 0px;
    }

    .o-game {
        width: 80%;
        margin: 0 auto;
        /* justify-content: center; */
    }

    .game-whole-card {
        margin: 50px 0 100px 0;
        grid-template-columns: auto;
        gap: 24px;
        justify-content: center;
        padding-top: 30px;
        /* width: 90%; */
        justify-self: center;
        width: 80%;
        margin: 0 auto;
    }

    .instant-play {
        flex-direction: column;
        margin-right: 0px;
        width: 90%;
        gap: 20px;
        text-align: center;
        padding-bottom: 20px;

    }

    .instant-play-text {
        margin: 0 auto;
        width: 80%;
        padding: 30px 0;

    }

    .instant-play-img {
        width: 100%;
        margin: 0 auto;

    }

    .play-instant-img-main {
        margin-right: 0px;
        width: 90%;
        height: auto;
    }

    .instant-play-img-sub, .anywhere-online-img-sub {
        display: none;
    }
    .anywhere-online{
        padding: 0;
    }
.career{
    flex-direction: column;
}
.career-text, .career-img {
    width: 80%;
}
.career-img img{
    width: none;


}
.career-text {
    padding-left: 0px;
 }
}

@media only screen and (min-width:576px) and (max-width:992px) {
    .nav {
        flex-direction: column;
        gap: 20px;
    }

    .hero {
        flex-direction: column-reverse;
        background: none;
        /* gap: 40px; */
    }

    .hero-right img {
        width: 90%;
        margin: 0 auto;
        display: flex;
    }

    .hero-left {
        width: 90%;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
    }

    .hero-bottom {
        flex-direction: column;
        text-align: center;
    }

    .h-bottom-text {
        text-align: center;
        width: 90%;
        padding-right: 0px;
    }

    .game-whole-card {
        margin: 50px 0 100px 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        justify-content: center;
        padding-top: 30px;
        width: 90%;
        justify-self: center;
    }
    .instant-play {
        flex-direction: column;
        margin-right: 0px;
        width: 90%;
        gap: 50px;
        text-align: center;

    }
    .instant-play-img {
        margin-right: 0px;
        width: 100%;

    }
    .instant-play-text{
        width: 80%;
        margin: 0 auto;
    }
    .instant-play-img-main{
        margin-right: 0px;
        width: 40%;

    }
    .instant-play-img-sub{
        width: 35%;
        left: -5%;
    bottom: -5%;
    }
    .anywhere-online-img-sub{
        width: 35%;
        right: -20%;
        bottom: -20%;
    }
    .career{
        flex-direction: column;
    }
}