@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", serif;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Common Styles  (Shared) */
:root {
    --one-font: 1rem;
    --primary-font: 1.25rem;
    --secondary-font: 3rem;
    --primary-color: #534c64;
    --black-color: #0b0223;
    --overall-color: #ee2e92;
    --wite-color: #ffffff;

}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.color-text {
    background: linear-gradient(180.00deg, rgb(249, 72, 178), rgb(135, 88, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec-title {
    font-size: var(--secondary-font);
    font-weight: 700;
    line-height: 60px;

}

.sec-caption {
    color: var(--primary-color);
    font-size: var(--primary-font);
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
}

.btn {
    font-size: var(--primary-font);
    color: var(--wite-color);
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 48px;
    border: none;
    background: var(--overall-color);
}

.btn-primary {
    color: var(--wite-color);
}

.btn-secondary {
    background: rgb(78, 197, 247);
}

section,
nav {
    max-width: 1280px;
    margin: 0 auto;
}

/* Navbar styles  */
.nav {
    align-items: center;
    justify-content: space-around;
    padding: 37px 0;
}

.nav-logo h3 {
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-logo,
.nav-text {
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-text li {
    font-size: var(--primary-font);
    align-items: center;
}

.nav-text li a {
    text-decoration: none;
    color: var(--primary-color);
}

.nav-text li:nth-child(3) {
    justify-content: center;
    gap: 10px;
    color: var(--primary-color);
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    padding: 10px 15px;
}

/* Hero section styles  */
.hero {
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    background: linear-gradient(223.23deg, rgba(140, 87, 238, 0.03) 3.979%, rgba(241, 68, 174, 0.03) 100.54%);
}

.hero-left {
    background: url(../images/bg.png);
    background-position: right;
    width: 50%;
    padding-left: 80px;
}

.hero-left h1 {
    font-size: 5.9rem;
    font-weight: 800;
    padding: 20px 0;

}

.hero-left h2 {
    font-size: var(--secondary-font);
    font-weight: 600;
}

.hero-left p {
    font-size: var(--primary-font);
    padding-bottom: 20px;
}

.hero-left button,
.hero-left p>img {
    margin-right: 20px;
}

/* Hero bottom  */
.hero-bottom {
    background: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%, rgba(255, 66, 165, 0.03) 87.942%);
    align-items: center;
    justify-content: space-between;
    gap: 50px;

}

.h-bottom-img img {
    width: 100%;
}

.h-bottom-text {
    text-align: right;
    width: 40%;
    padding-right: 38px;
}

.h-bottom-text,
button,
h3 {
    margin: 10px 0;
}

/* Online Games Funny Videos */
.o-game h2 {
    margin-top: 100px;
    text-align: center;
}

.o-game-caption {
    text-align: center;
}
.game-card{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.game-whole-card {
    margin: 50px 0 100px 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.game-card img {
    width: 90%;
}
.game-card p {
    padding-top: 24px;
}

.g-card3 {
    position: relative;
    opacity: 0.8;
}

.play-btn {
    position: absolute;
    top: 33%;
    height: 15%;
}
/* Instant play section  */
.instant-play{
    justify-content: space-between;
    align-items: center;
    gap: 240px;
    padding-bottom: 100px;
}

.instant-play-img{
    position: relative;
}
.instant-play-img-sub{
    position: absolute;
    left: -25%;
    bottom: -10%;
}
.play-instant-img-main{
   margin-right: 30px;
}